* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-container {
  width: 800px;
  height: 800px;
  border: 1px solid red;
  gap: 1px;
  -webkit-user-drag: none; 
}

button {
  width: 250px;
  height: 50px;
  font-size: 25px;
}


