* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Handjet', sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
}

header {
  color: lightgreen;
  font-size: 70px;
}

.grid-container {
  width: 500px;
  height: 500px;
  gap: 1px;
  box-shadow: 0px 0px 0px 4px lightgreen; /* replaced border due to interference with box-sizing (it was "eating the bottom border after generation of grid")*/
  flex-shrink: 0;
}

button {
  width: 220px;
  height: 40;
  font-size: 40px;
  color: lightgreen;
  background-color: black;
  border: 2px solid lightgreen;
  font-weight: 800px;
}
.buttons {
  display: flex;
  gap: 20px;
}

footer {
  color: whitesmoke;
  font-size: 20px;
}

